html{
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    background-color: #e9e2d1;
}

main {
    flex: 1 0 auto;
}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

header h1{
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h5{
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-nav .nav-link{
    font-family: "Playfair Display SC", serif;
    font-weight: bold;
    font-style: normal;
}

.navbar-nav .nav-link:hover {
    color: #4e4336;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;

}

.singleCol {
    max-width: 750px;
}

.card{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}




/* Footer */

/* footer {
    background-image:url(https://images.squarespace-cdn.com/content/v1/54da8bf4e4b012c34ea6460e/1633122574996-KGYJ8COCAAFDJOBONTNT/Vintage+banner.JPG?format=1500w);
    background-color: #e9e2d1;
    flex-shrink: 0;


}

footer a {
    color: white;
}

footer a:hover {
    color: #dfdfdf;
} */

@media (max-width: 768px) {
    .color-overlay {
        min-height: 30vh;
    }
}